#ou-num-print {
    width: 6vw;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid black;
}

#ou-print {
    width: 6vw;
    font-size: 1.08333333rem;
    color: white;
    background-color: #00A09D;
    border: none;
    padding: 4px 6px;
    transition: 0.2s;
    font-weight: 500;
    border-radius: 0px;
    outline: none;
}

#ou-print:hover {
    background-color: #007A77;
}